/* -------------Animation-Keyframes----------- */
@keyframes moveInLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0; }
  80% {
    transform: translateX(10px);
    opacity: 1; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes moveInRight {
  0% {
    transform: translateX(100px);
    opacity: 0; }
  80% {
    transform: translateX(-10px);
    opacity: 1; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes moveInBottom {
  0% {
    transform: translateY(50px);
    opacity: 0; }
  80% {
    transform: translateX(-10px);
    opacity: 1; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }

body {
  padding: 3rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6.2rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation: moveInLeft 1s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.8rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
  letter-spacing: .2rem;
  background-image: linear-gradient(to right, #8e9efc, #1c3eff);
  color: transparent;
  -webkit-background-clip: text;
  transition: all .2s;
  cursor: pointer; }
  .heading-secondary:hover {
    transform: skewY(5deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px; }

body {
  box-sizing: border-box; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.6rem;
  position: relative;
  transition: all .2s; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 10rem;
  transition: all .4s; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  color: #777777;
  background-color: #fff; }
  .btn--white::after {
    background-color: #fff; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  color: #5a73fc;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #5a73fc;
  padding: .3rem;
  font-size: 1.6rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: #5a73fc;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.2rem); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.header {
  background-image: linear-gradient(to right bottom, rgba(142, 158, 252, 0.8), rgba(28, 62, 255, 0.8)), url("../img/background1.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  height: 95vh;
  -webkit-clip-path: ellipse(60% 60% at 50% 33%);
  clip-path: ellipse(60% 60% at 50% 33%); }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__logo {
    height: 7rem; }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem; }

.about-section {
  background-color: #f7f7f7;
  padding: 25rem;
  margin: -25rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.composition {
  position: relative;
  border-radius: .2rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }
  .composition__photo {
    width: 50%;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: .5rem; }
    .composition__photo--1 {
      left: 0;
      top: -2rem; }
    .composition__photo--2 {
      right: 2rem;
      top: 2rem; }
    .composition__photo--3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover .composition__photo__photo:not(:hover) {
      transform: scale(0.9); }
    .composition__photo:hover {
      outline: 1rem solid #5a73fc;
      transform: scale(1.05);
      z-index: 20;
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }
