/* -------------Animation-Keyframes----------- */
@keyframes moveInLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0; }
  80% {
    transform: translateX(10px);
    opacity: 1; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes moveInRight {
  0% {
    transform: translateX(100px);
    opacity: 0; }
  80% {
    transform: translateX(-10px);
    opacity: 1; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes moveInBottom {
  0% {
    transform: translateY(50px);
    opacity: 0; }
  80% {
    transform: translateX(-10px);
    opacity: 1; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }

body {
  padding: 3rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6.2rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation: moveInLeft 1s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.8rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
  letter-spacing: .2rem;
  background-image: linear-gradient(to right, #8e9efc, #1c3eff);
  color: transparent;
  -webkit-background-clip: text;
  transition: all .2s;
  cursor: pointer; }
  .heading-secondary:hover {
    transform: skewY(5deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.6rem;
  position: relative;
  transition: all .2s; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 10rem;
  transition: all .4s; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  color: #777777;
  background-color: #fff; }
  .btn--white::after {
    background-color: #fff; }

.btn--blue {
  margin-top: 5rem;
  color: #fff;
  background-color: #5a73fc; }
  .btn--blue::after {
    background-color: #5a73fc; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  color: #5a73fc;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #5a73fc;
  padding: .3rem;
  font-size: 1.6rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: #5a73fc;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.2rem); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.header {
  background-image: linear-gradient(to right bottom, rgba(142, 158, 252, 0.8), rgba(28, 62, 255, 0.8)), url("../img/background1.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  height: 95vh;
  -webkit-clip-path: ellipse(60% 60% at 50% 33%);
  clip-path: ellipse(60% 60% at 50% 33%); }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__logo {
    height: 7rem; }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem; }

.about-section {
  background-color: #f7f7f7;
  padding: 25rem;
  margin: -25rem; }

.skill-section {
  background-image: linear-gradient(to right bottom, rgba(142, 158, 252, 0.8), rgba(28, 62, 255, 0.8)), url(../../img/background1.jpg);
  position: relative;
  padding: 20rem 0;
  margin-top: -20rem;
  clip-path: ellipse(70% 50% at 50% 50%); }

.section-courses {
  background-color: #f7f7f7;
  padding: 25rem 0 10rem 0;
  margin-top: -20rem; }

.section-testimonials {
  background-color: #f7f7f7;
  padding: 5rem 0;
  position: relative;
  z-index: 1; }

.section-enroll {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, #8e9efc, #1c3eff); }

.row {
  max-width: 114rem;
  margin: 0 auto; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.composition {
  position: relative;
  border-radius: .2rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }
  .composition__photo {
    width: 50%;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: .5rem; }
    .composition__photo--1 {
      left: 0;
      top: -2rem; }
    .composition__photo--2 {
      right: 2rem;
      top: 2rem; }
    .composition__photo--3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover .composition__photo__photo:not(:hover) {
      transform: scale(0.9); }
    .composition__photo:hover {
      outline: 1rem solid #5a73fc;
      transform: scale(1.05);
      z-index: 20;
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }

.skill-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem 2.5rem 5rem 2.5rem;
  text-align: center;
  border-radius: 5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .skill-box__icon {
    font-size: 6rem;
    margin-bottom: 1.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #8e9efc, #1c3eff);
    color: transparent;
    -webkit-background-clip: text; }
  .skill-box:hover {
    cursor: pointer;
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  position: relative;
  height: 45rem;
  perspective: 150rem; }
  .card__side {
    cursor: pointer;
    color: white;
    font-size: 2rem;
    transition: all 0.8s ease;
    height: 45rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    border-radius: 5rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    backface-visibility: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      background-color: green;
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right, #ffb900, #ff8830); }
      .card__side--back-2 {
        background-image: linear-gradient(to right, #55c57a, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right, #8e9efc, #1c3eff); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
    .card__heading-span {
      border-radius: 5rem;
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone; }
      .card__heading-span--1 {
        background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 136, 48, 0.85)); }
      .card__heading-span--2 {
        background-image: linear-gradient(to right bottom, #55c57a, #28b485); }
      .card__heading-span--3 {
        background-image: linear-gradient(to right bottom, #8e9efc, #1c3eff); }
  .card__details {
    padding: 3rem;
    color: #777777; }
    .card__details ul {
      list-style: none;
      margin: auto;
      width: 70%; }
      .card__details ul li {
        text-align: center;
        padding: 1rem;
        font-size: 1.5rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #bdbdbd; }
  .card__picture {
    background-blend-mode: screen;
    background-size: cover;
    height: 23rem;
    clip-path: ellipse(80% 70% at 50% 30%); }
    .card__picture--1 {
      background-image: linear-gradient(to right, #ffb900, #ff8830), url(../../img/involve1.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right, #55c57a, #28b485), url(../../img/involve2.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right, #8e9efc, #1c3eff), url(../../img/involve3.jpg); }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 5rem; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }

.testimonial {
  width: 80%;
  padding: 6rem;
  border-radius: 100rem;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0 auto;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  padding-left: 9rem; }
  .testimonial__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem);
    margin-top: -1rem;
    shape-outside: circle(50% at 50% 50%); }
  .testimonial__img {
    width: 100%;
    transform: translateY(-2rem); }
  .testimonial__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -30%);
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    cursor: pointer; }
  .testimonial:hover .testimonial__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: all .3s; }
  .testimonial:hover .testimonial__img {
    filter: blur(0.5rem) brightness(70%);
    transform: scale(1.05);
    transition: all .3s;
    cursor: pointer; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .2;
  z-index: -1; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.enroll {
  background-image: radial-gradient(150% 200% ellipse at -15%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../../img/background2.jpg);
  background-size: cover;
  height: 50rem;
  border-radius: 5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .enroll__form {
    padding: 6rem; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: .5rem;
  border-bottom: .2rem solid transparent;
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  width: 40%;
  transition: all .2s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    border-bottom: 3px solid #5a73fc; }
    .form__input:focus:invalid {
      border-bottom: 3px solid red; }
  .form__input::-webkit-input-placeholder {
    color: #777777; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 2rem;
  display: block;
  transition: all .2s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  display: inline-block;
  width: 25%; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 5rem; }

.form__radio-button {
  width: 3rem;
  height: 3rem;
  border: 0.5rem solid #5a73fc;
  border-radius: 10rem;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.6rem; }

.form__radio-button::after {
  content: "";
  display: block;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #5a73fc;
  opacity: 0;
  transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.form__radio-input {
  display: none; }

.form__btn {
  margin-top: 2rem;
  left: 10%; }

.footer {
  background-color: #333;
  font-size: 1.4rem;
  padding: 10rem 0;
  color: #777777; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 20rem;
    height: auto; }
  .footer__title {
    display: block;
    color: #5a73fc;
    letter-spacing: 4rem; }
  .footer__copyright {
    border-top: 3px solid #fff;
    width: 70%;
    float: right;
    padding-top: 2rem; }
  .footer__navigation {
    border-top: 3px solid #fff;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #8e9efc;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 5rem; }
  .footer__link:hover, .footer__link:active {
    color: red;
    transform: rotate(5deg) scale(1.3);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transition: all .3s; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all .5s; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    border-radius: 3rem;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .3s .2s; }
  .popup__img {
    width: 100%; }
  .popup__left {
    width: 33.33333%;
    display: table-cell; }
  .popup__right {
    width: 66.66667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__text {
    font-size: 1.8rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #777777;
    hyphens: auto; }
  .popup__close:link, .popup__close:visited {
    color: #333;
    position: absolute;
    top: .5rem;
    right: 2.5rem;
    font-size: 4rem;
    text-decoration: none; }
  .popup__close:hover {
    color: red; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15); }

.navigation__background {
  background-image: radial-gradient(#5a73fc, #1c3eff);
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 1000;
  transition: transform .8s; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all .8s;
  color: white; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }
