// varibales
$color-primary: #5a73fc;
$color-primary-light:#8e9efc;
$color-primary-dark:#1c3eff;
$color-gray: #777777;
$color-white: #fff;
$color-black: #000;
$color-primary-light-1: #f7f7f7;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff8830;

$color-tertiary-light: #55c57a;
$color-tertiary-dark: #28b485;

$color-grey-dark-1: #333;
// ---------------Grid-----------------
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$default-font-size: 1.6rem;
