

@import './abstracts/mixin';
@import './abstracts/variable';
@import './base/animation';
@import './base/typograply';
@import './base/base';
@import './base/utilities';
@import './layout/header';
@import './layout/row';
@import './pages/home';
@import './compoments/button';
@import './compoments/composition';
@import './compoments/skill-box';
@import './compoments/card';
@import './compoments/testimonial';
@import './compoments/bg-video';
@import './compoments/enroll';
@import './compoments/form';
@import './compoments/footer';
@import './compoments/popup';
@import './compoments/navigation';
