

/* -------------Animation-Keyframes----------- */
@keyframes moveInLeft{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    80%{
        transform: translateX(10px);
        opacity: 1;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes moveInRight{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    80%{
        transform: translateX(-10px);
        opacity: 1;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes moveInBottom{
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    80%{
        transform: translateX(-10px);
        opacity: 1;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}