// components/_bg-video.scss
.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .2;
    z-index: -1;
    overflow: hidden;

    &__content{
        height: 220%;
        width: 220%;
        object-fit: cover;
    }
}
