

.card{
    position: relative;
    height: 45rem;
    perspective: 150rem;
    
    &__side{
        cursor: pointer;
        color: white;
        font-size: 2rem;
        transition: all 0.8s ease;
        height: 45rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        &--front{
            background-color: rgb(226, 19, 216);
        }

        &--back{
            background-color: green;
            transform: rotateY(180deg);
        }
    }

    &:hover &__side--front{
        transform: rotateY(-180deg);
    }

    &:hover &__side--back{ 
        transform: rotateY(0);
    }

}