.composition{
    position: relative;
    border-radius: .2rem;
    box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: .4);
    &__photo{
        width: 50%;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: .5rem;
        &--1{
            left: 0;
            top: -2rem;
        }
        &--2{
            right: 2rem;
            top: 2rem;
        }
        &--3{
            left: 20%;
            top: 10rem;
        }
        &:hover &__photo:not(:hover){
            transform: scale(0.9);
        }
        &:hover{
            outline: 1rem solid $color-primary;
            transform: scale(1.05);
            z-index: 20;
            box-shadow: 0 2.5rem 4rem rgba($color: $color-black, $alpha: .5);
        }

    }
}