.enroll{
    background-image: radial-gradient(150% 200% ellipse at -15%, rgba($color-white, .8)50%,
    transparent 50%),url(../../img/background2.jpg);

    background-size: cover;
    height: 50rem;
    border-radius: 5rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    &__form{
        padding: 6rem;
    }
}