.footer {
    background-color: #333;
    font-size: 1.4rem;
    padding: 10rem 0;
    color: $color-gray; 
    &__logo-box {
      text-align: center;
      margin-bottom: 8rem; }
    &__logo {
      width: 20rem;
      height: auto; }
    &__title {
      display: block;
      color: $color-primary;
      letter-spacing: 4rem; }

    &__copyright {
      border-top: 3px solid #fff;
      width: 70%;
      float: right;
      padding-top: 2rem; }
    &__navigation {
      border-top: 3px solid #fff;
      padding-top: 2rem;
      display: inline-block; }
    &__list {
      list-style: none;
    }
    &__item {
      display: inline-block; 

      &:not(:last-child) {
        margin-right: 1.5rem; }
     }

    &__link:link, &__link:visited {
          color: #f7f7f7;
          background-color: #333;
          text-transform: uppercase;
          text-decoration: none;
          display: inline-block;
          border-radius: 5rem;
          transition: all .2s;
    }
    &__link:hover, &__link:active {
      color: red;
      transform: rotate(5deg) scale(1.3);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
      transition: all .3s; }
}