.navigation{
    &__checkbox{
        display: none;
    }
    &__button{
        background-color: $color-white;
        height: 5rem;
        width: 5rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        cursor: pointer;
        text-align: center;
        box-shadow: 0 1rem 3rem rgba($color-black, .15);
        
    } 
    
    &__background{
        background-image: radial-gradient(
            $color-primary-light, $color-primary-dark
        );
        height: 4rem;
        width: 4rem;
        position: fixed;
        border-radius: 50%;
        top: 6.5rem;
        right: 6.5rem;
        z-index: 1000;
        transition: transform .8s;
    }
    &__checkbox:checked~ &__background{
        transform: scale(80);
    }
    &__checkbox:checked~ &__nav{
        opacity: 1;
        transition: all .8s;
        width: 100%;
    }
    &__nav{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;
        opacity: 0;
        width: 0;
        transition: all .3s ;
        color: $color-white;
    }
    &__list{
        list-style: none;
        text-align: center;
        @include absCenter;

    }
    &__item{
        margin: 1rem;
    }
    &__link{
        display: inline-block;
        font-size: 2rem;
        font-weight: 300;
        padding: 1rem 2rem;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        background-image:
         radial-gradient(150% 200% ellipse at 115%,
         $color-white 0%,
         $color-white 50%,
         transparent 50%);
         background-size: 255%;
         transition: all .6s;
         border-radius: 100rem;
        &:hover,
        &:active{
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }

    &__icon{
        position: relative;
        margin-top: 2.5rem;
        &,
        &::before,
        &::after{
            width: 3rem;
            height: .3rem;
            background-color: $color-gray;
            display: inline-block;
        }
        &::before,
        &::after{
            content: "";
            left: 0;
            position: absolute;
        }
        &::before{
            top: -.8rem;
        }
        
        &::after{
            top: .8rem;
        }
    }
    &__button:hover &__icon::before{
        top: -1rem;
    }
    &__button:hover &__icon::after{
        top: 1rem;
    }
    &__checkbox:checked + &__button &__icon{
        background-color: transparent;
    }
    &__checkbox:checked + &__button &__icon::after{
        transform: rotate(-135deg);
        top: 0;
    }
    &__checkbox:checked + &__button &__icon::before{
        transform: rotate(135deg);
        top: 0;
    }
    
}