.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all .5s; 
    &__content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
      background-color: #fff;
      border-radius: 3rem;
      overflow: hidden;
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.5);
      transition: all .3s .2s; }
    &__img {
      width: 100%; }
    &__left {
      width: 33.33333%;
      display: table-cell; }
    &__right {
      width: 66.66667%;
      display: table-cell;
      vertical-align: middle;
      padding: 3rem 5rem; }
    &__text {
      font-size: 1.8rem;
      margin-bottom: 4rem;
      column-count: 2;
      column-gap: 4rem;
      column-rule: 1px solid #777777;
      hyphens: auto; }
    &__close:link, &__close:visited {
      color: #333;
      position: absolute;
      top: .5rem;
      right: 2.5rem;
      font-size: 4rem;
      text-decoration: none; }
    &__close:hover {
      color: red; }
    &:target {
      opacity: 1;
      visibility: visible; }
    &:target &__content {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1); }
    }