.testimonial{
    width: 80%;
    padding: 6rem;
    border-radius: 100rem;
    background-color: rgba($color: $color-white, $alpha: .3);

    margin: 0 auto;
    margin-bottom: 2rem;
    font-size: $default-font-size;

    padding-left: 9rem;

    &__shape{
        width: 15rem;
        height: 15rem;
        float: left;
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem);
        margin-top: -1rem;
        
        shape-outside: circle(50% at 50% 50%);// de chu om theo circle
        
    }
    &__img{
        width: 100%;
        transform: translateY(-2rem);
    }
    &__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        transform: translate(-50%, -30%);
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        cursor: pointer;

    }
    &:hover &__caption{
        opacity: 1;
        transform: translate(-50%, -50%);
        transition: all .3s;
    }
    &:hover &__img{
        filter: blur(.5rem) brightness(70%);
        transform: scale(1.05);
        transition: all .3s;
        cursor: pointer;
    }
}
